* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: black;
}

.child {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.child-1 {
    background-color: red;
}

.child-2 {
    background-color: blue;
}

.child-3 {
    background-color: green;
}
