div {
    width: 80px;
    height: 55px;
    background-color: yellowgreen;
    border-radius: 15px;
    text-align: center;
    line-height: 55px;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    animation: css 3s ease-in-out infinite; 
}

@keyframes css {
    0% {
        border-radius: 15px;
        background-color: yellowgreen;
        transform: translate(0px) rotate(0deg);
    }
    14% {
        border-radius: 15px;
        background-color: cyan;
        transform: translate(300px, 0) rotate(15deg);
    }
    28% {
        border-radius: 15px;
        background-color: yellowgreen;
        transform: translate(0px) rotate(0deg);
}
}