@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');


#hover-text {
    font-family: "Atkinson" ;
    font-size: 20px;
    transition: font-family 0.3s ease;
}


#hover-text:hover {
    font-family: "Lobster", cursive;
}
